Descripción 
# Conjunto de datos públicos brasileños de comercio electrónico de Olist
***
¡Bienvenida! Este es un conjunto de datos públicos de comercio electrónico brasileño de pedidos realizados en Olist Store. El conjunto de datos tiene información de 100k pedidos de 2016 a 2018 realizados en múltiples mercados en Brasil. Sus características permiten ver un pedido desde múltiples dimensiones: desde el estado del pedido, el precio, el pago y el desempeño del flete hasta la ubicación del cliente, los atributos del producto y finalmente las reseñas escritas por los clientes. También publicamos un conjunto de datos de geolocalización que relaciona los códigos postales brasileños con las coordenadas lat / lng.

Estos son datos comerciales reales, se han anonimizado y las referencias a las empresas y socios en el texto de revisión se han reemplazado con los nombres de las grandes casas de Game of Thrones.

# Join it With the Marketing Funnel by Olist
También hemos lanzado un conjunto de datos de embudo de marketing https://www.kaggle.com/olistbr/marketing-funnel-olist/home ¡Puede unir ambos conjuntos de datos y ver un pedido desde la perspectiva de marketing ahora!

Las instrucciones para unirse están disponibles en este Kernel https://www.kaggle.com/andresionek/joining-marketing-funnel-with-brazilian-e-commerce.

# Contexto
Este conjunto de datos fue proporcionado generosamente por Olist, la tienda por departamentos más grande de los mercados brasileños. Olist conecta pequeñas empresas de todo Brasil con canales sin problemas y con un solo contrato. Esos comerciantes pueden vender sus productos a través de Olist Store y enviarlos directamente a los clientes mediante los socios logísticos de Olist. Vea más en nuestro sitio web: www.olist.com

Después de que un cliente compra el producto en Olist Store, un vendedor recibe una notificación para cumplir con ese pedido. Una vez que el cliente recibe el producto, o vence la fecha estimada de entrega, el cliente recibe una encuesta de satisfacción por correo electrónico donde puede dar una nota por la experiencia de compra y anotar algunos comentarios.

# Atención
1. Un pedido puede tener varios artículos.
2. Cada artículo puede ser realizado por un vendedor distinto.
3. Todo el texto que identifica tiendas y socios fue reemplazado por los nombres de las grandes casas de Game of Thrones.


# Ejemplo de una lista de productos en un mercado

![image](https://i.imgur.com/JuJMns1.png)

# Data Schema
Los datos se dividen en varios conjuntos de datos para una mejor comprensión y organización. Consulte el siguiente esquema de datos cuando trabaje con él:

![image](https://i.imgur.com/HRhd2Y0.png)

# Classified Dataset
Anteriormente habíamos publicado un conjunto de datos clasificados, pero lo eliminamos en la Versión 6. Tenemos la intención de publicarlo nuevamente como un nuevo conjunto de datos con un nuevo esquema de datos. Si bien no lo terminamos, puede usar el conjunto de datos clasificados disponible en la Versión 5 o anterior.

# Inspiration
Aquí hay algo de inspiración para los posibles resultados de este conjunto de datos.

# NLP:

Este conjunto de datos ofrece un entorno supremo para analizar el texto de las reseñas a través de sus múltiples dimensiones.

# Clustering:

Algunos clientes no escribieron una reseña. Pero, ¿por qué están felices o enojados?

# Sales Prediction:

Con la información de la fecha de compra, podrá predecir las ventas futuras.

# Delivery Performance:

También podrá trabajar en el desempeño de la entrega y encontrar formas de optimizar los tiempos de entrega.

# Product Quality:

Disfrute descubriendo las categorías de productos que son más propensas a la insatisfacción del cliente.

# Feature Engineering:

Cree características a partir de este rico conjunto de datos o adjúntele información pública externa.

# Acknowledgements

Gracias a Olist por publicar este conjunto de datos.

# Tareas

Realizar
* Código mantenible y código limpio
* Analisis Exploratorio de Datos
* Interpretación del problema
* Ingeniería de características
* Series temporales
* Modelos
* Predicción de ventas
* Optimización entregas pedidos
* Clasificación
* Procesamiento de lenguaje Natural
* Dedicación
* Exposición
* Presentación y claridad

# Entregables

Elegir la herramienta con la que se sientan mejor

* Word
* Power Point
* Excel
* Kaggle
* Colab
* Streamlit, bokeh, dash, heroku
* Spyder
* Jupyter Lab

# Desarrollo de la Prueba

## Importar las Bases de Datos

In [2]:
import pandas as pd

-----

## olist_geolocation_dataset

In [3]:
olist_geolocation_dataset = pd.read_csv('olist_geolocation_dataset.csv')

In [4]:
olist_geolocation_dataset.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [5]:
olist_geolocation_dataset.shape

(1000163, 5)

In [6]:
olist_geolocation_dataset.duplicated(keep='first').value_counts()

False    738332
True     261831
dtype: int64

In [7]:
z = olist_geolocation_dataset.duplicated('geolocation_zip_code_prefix',keep='first')#
z.value_counts()

True     981148
False     19015
dtype: int64

Es necesario primero eliminar los duplicados de la base, pues están enmarcando el mismo sitio

In [8]:
olist_geolocation_dataset.drop_duplicates(inplace = True)

In [10]:
z = olist_geolocation_dataset.duplicated('geolocation_zip_code_prefix',keep='first')#
z.value_counts()

True     719317
False     19015
dtype: int64

In [11]:
olist_geolocation_dataset.sort_values('geolocation_zip_code_prefix').head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
519,1001,-23.551337,-46.634027,sao paulo,SP
235,1001,-23.550642,-46.634410,sao paulo,SP
206,1001,-23.550498,-46.634338,sao paulo,SP
326,1001,-23.551427,-46.634074,sao paulo,SP
1182,1001,-23.549779,-46.633957,sao paulo,SP

In [12]:
olist_geolocation_dataset['geolocation_zip_code_prefix'].nunique()

19015

#### olist_customers_dataset

In [13]:
olist_customers_dataset = pd.read_csv('olist_customers_dataset.csv')

In [14]:
olist_customers_dataset.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [15]:
olist_customers_dataset.shape

(99441, 5)

In [16]:
olist_customers_dataset.duplicated('customer_unique_id',keep='first').value_counts()

False    96096
True      3345
dtype: int64

In [17]:
olist_customers_dataset.duplicated('customer_id',keep='first').value_counts()

False    99441
dtype: int64

In [18]:
olist_customers_dataset.duplicated('customer_zip_code_prefix',keep='first').value_counts()

True     84447
False    14994
dtype: int64

------

#### <span style="color:red"> Merge olist_customers_dataset y olist_geolocation_dataset  </span>

In [ ]:
olist_customer_geolocation = olist_customers_dataset.merge(olist_geolocation_dataset, how = 'left', left_on = 'customer_zip_code_prefix', right_on = 'geolocation_zip_code_prefix', validate = 'm:m',indicator = True)

In [ ]:
olist_customer_geolocation['_merge'].value_counts()

In [400]:
olist_customer_geolocation.shape

(311796, 7)

In [401]:
olist_customer_geolocation.head()

,seller_id,seller_zip_code_prefix,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,3442f8959a84dea7ee197c632cb2df15,13023,13023.0,-22.898536,-47.063125,campinas,SP
1,3442f8959a84dea7ee197c632cb2df15,13023,13023.0,-22.895499,-47.061944,campinas,SP
2,3442f8959a84dea7ee197c632cb2df15,13023,13023.0,-22.891740,-47.060820,campinas,SP
3,3442f8959a84dea7ee197c632cb2df15,13023,13023.0,-22.895762,-47.066144,campinas,SP
4,3442f8959a84dea7ee197c632cb2df15,13023,13023.0,-22.896154,-47.062431,campinas,SP

In [402]:
olist_items_dataset['seller_id'].nunique()

3095

In [403]:
olist_items_dataset.duplicated(keep='first').value_counts()#

False    311796
dtype: int64

In [404]:
del olist_items_dataset['geolocation_zip_code_prefix']

In [405]:
olist_items_dataset.head()

,seller_id,seller_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,3442f8959a84dea7ee197c632cb2df15,13023,-22.898536,-47.063125,campinas,SP
1,3442f8959a84dea7ee197c632cb2df15,13023,-22.895499,-47.061944,campinas,SP
2,3442f8959a84dea7ee197c632cb2df15,13023,-22.891740,-47.060820,campinas,SP
3,3442f8959a84dea7ee197c632cb2df15,13023,-22.895762,-47.066144,campinas,SP
4,3442f8959a84dea7ee197c632cb2df15,13023,-22.896154,-47.062431,campinas,SP

In [406]:
group_olist_items_dataset = olist_items_dataset.groupby(['seller_id']).agg({'seller_zip_code_prefix':'first',
                                                                            'geolocation_lat': 'mean',
                                                                            'geolocation_lng':'mean',
                                                                            'geolocation_city':'first',
                                                                            'geolocation_state':'first'}).reset_index()

In [407]:
group_olist_items_dataset.head()

,seller_id,seller_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,0015a82c2db000af6aaaf3ae2ecb0532,9080,-23.640202,-46.542079,santo andre,SP
1,001cca7ae9ae17fb1caed9dfb1094831,29156,-20.279224,-40.411514,cariacica,ES
2,001e6ad469a905060d959994f1b41e4f,24754,-22.872033,-43.027441,sao goncalo,RJ
3,002100f778ceb8431b7a1020ff7ab48f,14405,-20.528419,-47.411287,franca,SP
4,003554e2dce176b5555353e4f3555ac8,74565,-16.638282,-49.280909,goiania,GO

In [408]:
group_olist_items_dataset.shape

(3095, 6)

In [409]:
olist_items_dataset = group_olist_items_dataset.iloc[:,:].copy()

-----

#### olist_orders_dataset

In [3]:
olist_orders_dataset = pd.read_csv('olist_orders_dataset.csv')

In [4]:
olist_orders_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [5]:
olist_orders_dataset.shape

(99441, 8)

In [6]:
len(olist_orders_dataset['order_id'].unique())

99441

In [7]:
len(olist_orders_dataset['customer_id'].unique())

99441

#### <span style="color:red"> Merge olist_orders_dataset y olist_customers_dataset </span>

In [13]:
olist_dataset = olist_orders_dataset.merge(olist_customers_dataset, on = 'customer_id', how = 'left', validate = '1:1')

In [14]:
olist_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP

In [15]:
olist_dataset.shape

(99441, 12)

#### olist_order_reviews_dataset

In [16]:
olist_order_reviews_dataset = pd.read_csv('olist_order_reviews_dataset.csv')

In [17]:
olist_order_reviews_dataset.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [18]:
olist_order_reviews_dataset.shape

(100000, 7)

In [19]:
olist_order_reviews_dataset.duplicated(keep='first').value_counts()

False    100000
dtype: int64

In [20]:
len(olist_order_reviews_dataset['review_id'].unique())

99173

In [21]:
len(olist_order_reviews_dataset['order_id'].unique())

99441

In [22]:
olist_order_reviews_dataset['order_id'].value_counts().head()

c88b1d1b157a9999ce368f218a407141    3
df56136b8031ecd28e200bb18e6ddb2e    3
8e17072ec97ce29f0e1f111e598b0c85    3
03c939fd7fd3b38f8485a0f95798f1f6    3
b798fc527c548bfa5f069b5b29195275    2
Name: order_id, dtype: int64

In [23]:
olist_order_reviews_dataset[olist_order_reviews_dataset['order_id'] == '03c939fd7fd3b38f8485a0f95798f1f6']

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
8329,b04ed893318da5b863e878cd3d0511df,03c939fd7fd3b38f8485a0f95798f1f6,3,NaN,Um ponto negativo que achei foi a cobrança de ...,2018-03-20 00:00:00,2018-03-21 02:28:23
51931,f4bb9d6dd4fb6dcc2298f0e7b17b8e1e,03c939fd7fd3b38f8485a0f95798f1f6,4,NaN,NaN,2018-03-29 00:00:00,2018-03-30 00:29:09
70005,405eb2ea45e1dbe2662541ae5b47e2aa,03c939fd7fd3b38f8485a0f95798f1f6,3,NaN,Seria ótimo se tivesem entregue os 3 (três) pe...,2018-03-06 00:00:00,2018-03-06 19:50:32

Después de una rápida inspección llego, dado que el ideal es que ``order_id`` sea único, lo mejor es para cada orden escoger sólo el comentario que tenga un contenido más largo

In [24]:
olist_order_reviews_dataset['def_null_content_review'] = pd.isnull(olist_order_reviews_dataset['review_comment_message'])

In [25]:
olist_order_reviews_dataset.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,def_null_content_review
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,True
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13,True
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24,True
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06,False
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53,False

In [26]:
def blanko(row):
    if not row['def_null_content_review']:
        return len(row['review_comment_message'])
    else:
        return 0

In [27]:
olist_order_reviews_dataset['number_strings'] = olist_order_reviews_dataset.apply(blanko, axis = 1)

In [28]:
olist_order_reviews_dataset.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,def_null_content_review,number_strings
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,True,0
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13,True,0
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24,True,0
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06,False,37
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53,False,100

In [29]:
olist_order_reviews_dataset = olist_order_reviews_dataset.sort_values('number_strings').drop_duplicates('order_id', keep='last')

In [30]:
olist_order_reviews_dataset.tail()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,def_null_content_review,number_strings
77882,34551fe3596bb29ee7021a5887eca545,17992e21d004bd228a019461b341dbad,3,NaN,Não Montei ele ainda mais pelo que conferi est...,2018-01-09 00:00:00,2018-01-09 15:43:16,False,204
5256,cb4f3576229c52f08a7cc8ee6ab8da7c,4eb56038347ee86edd66fb4f2abb0aa5,1,NaN,fiz essa compra pelo baratheon comprei um conj...,2018-03-15 00:00:00,2018-03-19 19:50:20,False,205
7321,c6db613e18ea44aa7d2cc3257335c378,bfc9c6b840e5a8ac6c42347673271b9a,1,NaN,Comprei o produto confiando nas lojas lanniste...,2018-01-08 00:00:00,2018-01-08 18:43:33,False,206
10812,3c7388d3ed1f8a85fa544ef226af7605,382447aa0ebf13393d646287fed13df7,4,NaN,Adquiri 2 mochilas pelo site lannister de e pa...,2017-02-14 00:00:00,2017-02-14 23:33:28,False,207
1325,11eb20303bc6c13c41eeb1496e64aa97,18c643cade587cd125b3a56377985cac,1,NaN,"NÃO RECEBI O PRODUTO, O PRODUTO CONSTA COMO EN...",2018-03-18 00:00:00,2018-03-19 10:32:01,False,208

In [31]:
olist_order_reviews_dataset.drop(['number_strings', 'def_null_content_review'], axis=1, inplace = True)

In [32]:
olist_order_reviews_dataset.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
45772,0c5c5315daeb865a6cf1de7046715b10,35f4b9d2da608b31899564a51dbabd35,5,NaN,NaN,2018-01-24 00:00:00,2018-01-26 11:00:34
82887,d2b62c73c97c66bf70c21a29560c8e10,f7170cc8836bcba4bd4022ce5a009524,1,NaN,NaN,2017-05-31 00:00:00,2017-06-01 04:23:30
45774,8ac5c46a35b809bb42658cfd0eb190d0,ca042978ccc1c2a3d1d9b04e4ba80b9d,4,NaN,NaN,2018-05-23 00:00:00,2018-05-25 22:17:00
45776,e0fd752f37c8c6866ceb53b79b0715f6,dceb8e88274c6f42a88a76ed979eb817,5,NaN,NaN,2018-03-29 00:00:00,2018-04-11 20:07:14

In [33]:
olist_order_reviews_dataset.shape

(99441, 7)

In [34]:
len(olist_order_reviews_dataset['order_id'].unique())

99441

#### <span style="color:red"> Merge olist_dataset y olist_order_reviews_dataset </span>

In [35]:
olist_dataset = olist_dataset.merge(olist_order_reviews_dataset, on = 'order_id', validate = '1:1')

In [36]:
olist_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,8d5266042046a06655c8db133d120ba5,4,Muito boa a loja,Muito bom o produto.,2018-08-08 00:00:00,2018-08-08 18:37:50
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,e73b67b67587f7644d5bd1a52deb1b01,5,NaN,NaN,2018-08-18 00:00:00,2018-08-22 19:07:58
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,359d03e676b3c069f62cadba8dd3f6e8,5,NaN,O produto foi exatamente o que eu esperava e e...,2017-12-03 00:00:00,2017-12-05 19:21:58
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,e50934924e227544ba8246aeb3770dd4,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 13:02:51

In [37]:
olist_dataset.shape

(99441, 18)

#### olist_order_payments_dataset

In [38]:
olist_order_payments_dataset = pd.read_csv('olist_order_payments_dataset.csv')

In [39]:
olist_order_payments_dataset.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [40]:
olist_order_payments_dataset.payment_type.unique()

array(['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

In [41]:
olist_order_payments_dataset.shape

(103886, 5)

In [42]:
olist_order_payments_dataset.duplicated(keep='first').value_counts()

False    103886
dtype: int64

In [43]:
len(olist_order_payments_dataset['order_id'].unique())

99440

In [44]:
olist_order_payments_dataset.duplicated('order_id',keep='first').value_counts()

False    99440
True      4446
dtype: int64

In [45]:
olist_order_payments_dataset['order_id'].value_counts().head()

fa65dad1b0e818e3ccc5cb0e39231352    29
ccf804e764ed5650cd8759557269dc13    26
285c2e15bebd4ac83635ccc563dc71f4    22
895ab968e7bb0d5659d16cd74cd1650c    21
fedcd9f7ccdc8cba3a18defedd1a5547    19
Name: order_id, dtype: int64

In [46]:
olist_order_payments_dataset[olist_order_payments_dataset['order_id'] == 'ee9ca989fc93ba09a6eddc250ce01742']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
2099,ee9ca989fc93ba09a6eddc250ce01742,8,voucher,1,5.31
8910,ee9ca989fc93ba09a6eddc250ce01742,1,credit_card,1,1.76
29562,ee9ca989fc93ba09a6eddc250ce01742,17,voucher,1,7.19
35428,ee9ca989fc93ba09a6eddc250ce01742,3,voucher,1,12.49
36562,ee9ca989fc93ba09a6eddc250ce01742,13,voucher,1,6.51
38028,ee9ca989fc93ba09a6eddc250ce01742,16,voucher,1,6.51
47453,ee9ca989fc93ba09a6eddc250ce01742,11,voucher,1,1.68
49285,ee9ca989fc93ba09a6eddc250ce01742,15,voucher,1,1.92
50071,ee9ca989fc93ba09a6eddc250ce01742,14,voucher,1,4.70
52343,ee9ca989fc93ba09a6eddc250ce01742,2,voucher,1,5.88
64444,ee9ca989fc93ba09a6eddc250ce01742,12,voucher,1,2.80
64576,ee9ca989fc93ba09a6eddc250ce01742,4,voucher,1,3.49
68844,ee9ca989fc93ba09a6eddc250ce01742,5,voucher,1,3.58
75144,ee9ca989fc93ba09a6eddc250ce01742,18,voucher,1,2.33
75433,ee9ca989fc93ba09a6eddc250ce01742,19,voucher,1,4.56
85552,ee9ca989fc93ba09a6eddc250ce01742,6,voucher,1,3.75
86515,ee9ca989fc93ba09a6eddc250ce01742,10,voucher,1,2.45
94178,ee9ca989fc93ba09a6eddc250ce01742,9,voucher,1,3.90
96065,ee9ca989fc93ba09a6eddc250ce01742,7,voucher,1,1.92

In [47]:
group_by_order_payment = olist_order_payments_dataset.groupby(['order_id','payment_type']).agg({'payment_sequential': "count",
                                                                                          'payment_installments': sum,
                                                                                          'payment_value': sum})

In [48]:
group_by_order_payment.head()

,,payment_sequential,payment_installments,payment_value
order_id,payment_type,,,
00010242fe8c5a6d1ba2dd792cb16214,credit_card,1,2,72.19
00018f77f2f0320c557190d7a144bdd3,credit_card,1,3,259.83
000229ec398224ef6ca0657da4fc703e,credit_card,1,5,216.87
00024acbcdf0a6daa1e931b038114c75,credit_card,1,2,25.78
00042b26cf59d7ce69dfabb4e55b4fd9,credit_card,1,3,218.04

In [49]:
group_by_order_payment.loc[[('ee9ca989fc93ba09a6eddc250ce01742','credit_card'),('ee9ca989fc93ba09a6eddc250ce01742','voucher')],:]

                                               payment_sequential  \
order_id                         payment_type
ee9ca989fc93ba09a6eddc250ce01742 credit_card                    1
                                 voucher                       18

                                               payment_installments  \
order_id                         payment_type
ee9ca989fc93ba09a6eddc250ce01742 credit_card                      1
                                 voucher                         18

                                               payment_value
order_id                         payment_type
ee9ca989fc93ba09a6eddc250ce01742 credit_card            1.76
                                 voucher               80.97

In [50]:
x = group_by_order_payment.unstack(1).reset_index()

In [51]:
x.shape

(99440, 16)

In [52]:
x.head()

                                      order_id payment_sequential              \
payment_type                                               boleto credit_card
0             00010242fe8c5a6d1ba2dd792cb16214                NaN         1.0
1             00018f77f2f0320c557190d7a144bdd3                NaN         1.0
2             000229ec398224ef6ca0657da4fc703e                NaN         1.0
3             00024acbcdf0a6daa1e931b038114c75                NaN         1.0
4             00042b26cf59d7ce69dfabb4e55b4fd9                NaN         1.0

                                            payment_installments              \
payment_type debit_card not_defined voucher               boleto credit_card
0                   NaN         NaN     NaN                  NaN         2.0
1                   NaN         NaN     NaN                  NaN         3.0
2                   NaN         NaN     NaN                  NaN         5.0
3                   NaN         NaN     NaN                  NaN         2.0
4                   NaN         NaN     NaN                  NaN         3.0

                                            payment_value              \
payment_type debit_card not_defined voucher        boleto credit_card
0                   NaN         NaN     NaN           NaN       72.19
1                   NaN         NaN     NaN           NaN      259.83
2                   NaN         NaN     NaN           NaN      216.87
3                   NaN         NaN     NaN           NaN       25.78
4                   NaN         NaN     NaN           NaN      218.04


payment_type debit_card not_defined voucher
0                   NaN         NaN     NaN
1                   NaN         NaN     NaN
2                   NaN         NaN     NaN
3                   NaN         NaN     NaN
4                   NaN         NaN     NaN

In [53]:
x.columns = x.columns.map('_'.join).str.strip('_')
x.fillna(0, inplace = True)

In [54]:
x.head()

,order_id,payment_sequential_boleto,payment_sequential_credit_card,payment_sequential_debit_card,payment_sequential_not_defined,payment_sequential_voucher,payment_installments_boleto,payment_installments_credit_card,payment_installments_debit_card,payment_installments_not_defined,payment_installments_voucher,payment_value_boleto,payment_value_credit_card,payment_value_debit_card,payment_value_not_defined,payment_value_voucher
0,00010242fe8c5a6d1ba2dd792cb16214,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,72.19,0.0,0.0,0.0
1,00018f77f2f0320c557190d7a144bdd3,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,259.83,0.0,0.0,0.0
2,000229ec398224ef6ca0657da4fc703e,0.0,1.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,216.87,0.0,0.0,0.0
3,00024acbcdf0a6daa1e931b038114c75,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,25.78,0.0,0.0,0.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,218.04,0.0,0.0,0.0

In [55]:
x[x['order_id'] == 'ee9ca989fc93ba09a6eddc250ce01742']

,order_id,payment_sequential_boleto,payment_sequential_credit_card,payment_sequential_debit_card,payment_sequential_not_defined,payment_sequential_voucher,payment_installments_boleto,payment_installments_credit_card,payment_installments_debit_card,payment_installments_not_defined,payment_installments_voucher,payment_value_boleto,payment_value_credit_card,payment_value_debit_card,payment_value_not_defined,payment_value_voucher
92724,ee9ca989fc93ba09a6eddc250ce01742,0.0,1.0,0.0,0.0,18.0,0.0,1.0,0.0,0.0,18.0,0.0,1.76,0.0,0.0,80.97

In [56]:
group_by_order_payment_refined = pd.get_dummies(group_by_order_payment.reset_index(), columns = ['payment_type'])

In [57]:
group_by_order_payment_refined[group_by_order_payment_refined['order_id'] == 'ee9ca989fc93ba09a6eddc250ce01742']

,order_id,payment_sequential,payment_installments,payment_value,payment_type_boleto,payment_type_credit_card,payment_type_debit_card,payment_type_not_defined,payment_type_voucher
94813,ee9ca989fc93ba09a6eddc250ce01742,1,1,1.76,0,1,0,0,0
94814,ee9ca989fc93ba09a6eddc250ce01742,18,18,80.97,0,0,0,0,1

In [58]:
olist_order_payment_final = group_by_order_payment_refined.groupby('order_id').agg({'payment_type_boleto':sum,
                                                                                   'payment_type_credit_card':sum,
                                                                                   'payment_type_debit_card':sum,
                                                                                   'payment_type_voucher':sum,}).reset_index()

In [59]:
olist_order_payment_final.head()

,order_id,payment_type_boleto,payment_type_credit_card,payment_type_debit_card,payment_type_voucher
0,00010242fe8c5a6d1ba2dd792cb16214,0,1,0,0
1,00018f77f2f0320c557190d7a144bdd3,0,1,0,0
2,000229ec398224ef6ca0657da4fc703e,0,1,0,0
3,00024acbcdf0a6daa1e931b038114c75,0,1,0,0
4,00042b26cf59d7ce69dfabb4e55b4fd9,0,1,0,0

In [60]:
olist_order_payment_final.shape

(99440, 5)

In [61]:
olist_order_payments_dataset = x.merge(olist_order_payment_final, on = 'order_id', validate = '1:1')

In [62]:
olist_order_payments_dataset.head()

,order_id,payment_sequential_boleto,payment_sequential_credit_card,payment_sequential_debit_card,payment_sequential_not_defined,payment_sequential_voucher,payment_installments_boleto,payment_installments_credit_card,payment_installments_debit_card,payment_installments_not_defined,payment_installments_voucher,payment_value_boleto,payment_value_credit_card,payment_value_debit_card,payment_value_not_defined,payment_value_voucher,payment_type_boleto,payment_type_credit_card,payment_type_debit_card,payment_type_voucher
0,00010242fe8c5a6d1ba2dd792cb16214,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,72.19,0.0,0.0,0.0,0,1,0,0
1,00018f77f2f0320c557190d7a144bdd3,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,259.83,0.0,0.0,0.0,0,1,0,0
2,000229ec398224ef6ca0657da4fc703e,0.0,1.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,216.87,0.0,0.0,0.0,0,1,0,0
3,00024acbcdf0a6daa1e931b038114c75,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,25.78,0.0,0.0,0.0,0,1,0,0
4,00042b26cf59d7ce69dfabb4e55b4fd9,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,218.04,0.0,0.0,0.0,0,1,0,0

In [63]:
olist_order_payments_dataset.shape

(99440, 20)

#### <span style="color:red"> Merge olist_dataset y olist_order_payments_dataset </span>

In [64]:
olist_dataset = olist_dataset.merge(olist_order_payments_dataset, how = 'left', on = 'order_id', validate = '1:1')

In [66]:
pd.set_option("display.max_columns", None)
olist_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,payment_sequential_boleto,payment_sequential_credit_card,payment_sequential_debit_card,payment_sequential_not_defined,payment_sequential_voucher,payment_installments_boleto,payment_installments_credit_card,payment_installments_debit_card,payment_installments_not_defined,payment_installments_voucher,payment_value_boleto,payment_value_credit_card,payment_value_debit_card,payment_value_not_defined,payment_value_voucher,payment_type_boleto,payment_type_credit_card,payment_type_debit_card,payment_type_voucher
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,a54f0611adc9ed256b57ede6b6eb5114,4,NaN,"Não testei o produto ainda, mas ele veio corre...",2017-10-11 00:00:00,2017-10-12 03:43:48,0.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,2.0,0.00,18.12,0.0,0.0,20.59,0.0,1.0,0.0,1.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,8d5266042046a06655c8db133d120ba5,4,Muito boa a loja,Muito bom o produto.,2018-08-08 00:00:00,2018-08-08 18:37:50,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,141.46,0.00,0.0,0.0,0.00,1.0,0.0,0.0,0.0
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,e73b67b67587f7644d5bd1a52deb1b01,5,NaN,NaN,2018-08-18 00:00:00,2018-08-22 19:07:58,0.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.00,179.12,0.0,0.0,0.00,0.0,1.0,0.0,0.0
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,359d03e676b3c069f62cadba8dd3f6e8,5,NaN,O produto foi exatamente o que eu esperava e e...,2017-12-03 00:00:00,2017-12-05 19:21:58,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.00,72.20,0.0,0.0,0.00,0.0,1.0,0.0,0.0
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,e50934924e227544ba8246aeb3770dd4,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 13:02:51,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.00,28.62,0.0,0.0,0.00,0.0,1.0,0.0,0.0

In [67]:
olist_dataset.shape

(99441, 37)

In [68]:
olist_dataset.duplicated('order_id',keep='first').value_counts()

False    99441
dtype: int64

In [69]:
set(olist_order_reviews_dataset['order_id']).difference(set(olist_order_payments_dataset['order_id']))

{'bfbd0f9bdef84302105ad712db648a6c'}

In [70]:
olist_dataset[olist_dataset['order_id'] == 'bfbd0f9bdef84302105ad712db648a6c']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,payment_sequential_boleto,payment_sequential_credit_card,payment_sequential_debit_card,payment_sequential_not_defined,payment_sequential_voucher,payment_installments_boleto,payment_installments_credit_card,payment_installments_debit_card,payment_installments_not_defined,payment_installments_voucher,payment_value_boleto,payment_value_credit_card,payment_value_debit_card,payment_value_not_defined,payment_value_voucher,payment_type_boleto,payment_type_credit_card,payment_type_debit_card,payment_type_voucher
30710,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04 00:00:00,830d5b7aaa3b6f1e9ad63703bec97d23,14600,sao joaquim da barra,SP,6916ca4502d6d3bfd39818759d55d536,1,NaN,nao recebi o produto e nem resposta da empresa,2016-10-06 00:00:00,2016-10-07 18:32:28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

------

------

## olist_geolocation_dataset

In [385]:
olist_geolocation_dataset = pd.read_csv('olist_geolocation_dataset.csv')

In [386]:
olist_geolocation_dataset.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [387]:
olist_geolocation_dataset.shape

(1000163, 5)

In [388]:
olist_geolocation_dataset.duplicated(keep='first').value_counts()

False    738332
True     261831
dtype: int64

In [389]:
z = olist_geolocation_dataset.duplicated('geolocation_zip_code_prefix',keep='first')#
z.value_counts()

True     981148
False     19015
dtype: int64

Es necesario primero eliminar los duplicados de la base, pues están enmarcando el mismo sitio

In [390]:
olist_geolocation_dataset.drop_duplicates(inplace = True)

In [391]:
z = olist_geolocation_dataset.duplicated('geolocation_zip_code_prefix',keep='first')#
z.value_counts()

True     719317
False     19015
dtype: int64

In [392]:
olist_geolocation_dataset.sort_values('geolocation_zip_code_prefix').head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
519,1001,-23.551337,-46.634027,sao paulo,SP
235,1001,-23.550642,-46.634410,sao paulo,SP
206,1001,-23.550498,-46.634338,sao paulo,SP
326,1001,-23.551427,-46.634074,sao paulo,SP
1182,1001,-23.549779,-46.633957,sao paulo,SP

In [393]:
olist_geolocation_dataset['geolocation_zip_code_prefix'].nunique()

19015

## olist_sellers_dataset

In [394]:
olist_sellers_dataset = pd.read_csv('olist_sellers_dataset.csv')

In [395]:
olist_sellers_dataset.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [396]:
olist_sellers_dataset.shape

(3095, 4)

In [397]:
olist_sellers_dataset.duplicated('seller_id',keep='first').value_counts()#

False    3095
dtype: int64

In [398]:
olist_sellers_dataset['seller_zip_code_prefix'].nunique()

2246

#### <span style="color:red"> Merge olist_sellers_dataset y olist_geolocation_dataset  </span>

In [399]:
olist_items_dataset = olist_sellers_dataset[['seller_id','seller_zip_code_prefix']].merge(olist_geolocation_dataset, how = 'left', left_on = 'seller_zip_code_prefix', right_on = 'geolocation_zip_code_prefix', validate = 'm:m')

In [400]:
olist_items_dataset.shape

(311796, 7)

In [401]:
olist_items_dataset.head()

,seller_id,seller_zip_code_prefix,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,3442f8959a84dea7ee197c632cb2df15,13023,13023.0,-22.898536,-47.063125,campinas,SP
1,3442f8959a84dea7ee197c632cb2df15,13023,13023.0,-22.895499,-47.061944,campinas,SP
2,3442f8959a84dea7ee197c632cb2df15,13023,13023.0,-22.891740,-47.060820,campinas,SP
3,3442f8959a84dea7ee197c632cb2df15,13023,13023.0,-22.895762,-47.066144,campinas,SP
4,3442f8959a84dea7ee197c632cb2df15,13023,13023.0,-22.896154,-47.062431,campinas,SP

In [402]:
olist_items_dataset['seller_id'].nunique()

3095

In [403]:
olist_items_dataset.duplicated(keep='first').value_counts()#

False    311796
dtype: int64

In [404]:
del olist_items_dataset['geolocation_zip_code_prefix']

In [405]:
olist_items_dataset.head()

,seller_id,seller_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,3442f8959a84dea7ee197c632cb2df15,13023,-22.898536,-47.063125,campinas,SP
1,3442f8959a84dea7ee197c632cb2df15,13023,-22.895499,-47.061944,campinas,SP
2,3442f8959a84dea7ee197c632cb2df15,13023,-22.891740,-47.060820,campinas,SP
3,3442f8959a84dea7ee197c632cb2df15,13023,-22.895762,-47.066144,campinas,SP
4,3442f8959a84dea7ee197c632cb2df15,13023,-22.896154,-47.062431,campinas,SP

In [406]:
group_olist_items_dataset = olist_items_dataset.groupby(['seller_id']).agg({'seller_zip_code_prefix':'first',
                                                                            'geolocation_lat': 'mean',
                                                                            'geolocation_lng':'mean',
                                                                            'geolocation_city':'first',
                                                                            'geolocation_state':'first'}).reset_index()

In [407]:
group_olist_items_dataset.head()

,seller_id,seller_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,0015a82c2db000af6aaaf3ae2ecb0532,9080,-23.640202,-46.542079,santo andre,SP
1,001cca7ae9ae17fb1caed9dfb1094831,29156,-20.279224,-40.411514,cariacica,ES
2,001e6ad469a905060d959994f1b41e4f,24754,-22.872033,-43.027441,sao goncalo,RJ
3,002100f778ceb8431b7a1020ff7ab48f,14405,-20.528419,-47.411287,franca,SP
4,003554e2dce176b5555353e4f3555ac8,74565,-16.638282,-49.280909,goiania,GO

In [408]:
group_olist_items_dataset.shape

(3095, 6)

In [409]:
olist_items_dataset = group_olist_items_dataset.iloc[:,:].copy()

## olist_order_items_dataset

In [410]:
olist_order_items_dataset = pd.read_csv('olist_order_items_dataset.csv')

In [411]:
olist_order_items_dataset.shape

(112650, 7)

In [412]:
olist_order_items_dataset.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [413]:
olist_order_items_dataset.duplicated(keep='first').value_counts()#

False    112650
dtype: int64

In [414]:
olist_order_items_dataset['order_item_id'].max()

21

In [415]:
olist_order_items_dataset['order_id'].nunique()

98666

In [416]:
olist_order_items_dataset[olist_order_items_dataset['order_item_id'] == 21]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
57317,8272b63d03f5f79c56e9e4120aec44ef,21,79ce45dbc2ea29b22b5a261bbb7b7ee7,2709af9587499e95e803a6498a5a56e9,2017-07-21 18:25:23,7.8,6.57

In [417]:
z = olist_order_items_dataset.duplicated('order_id',keep='first')
z.value_counts()#

False    98666
True     13984
dtype: int64

In [418]:
olist_order_items_dataset[z].head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
14,0008288aa423d2a3f00fcb17cd7d8719,2,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-02-21 02:55:52,49.90,13.37
33,00143d0f86d6fbd9f9b38ab440ac16f5,2,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10
34,00143d0f86d6fbd9f9b38ab440ac16f5,3,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10
43,001ab0a7578dd66cd4b0a71f5b6e1e41,2,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63
44,001ab0a7578dd66cd4b0a71f5b6e1e41,3,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63

In [419]:
olist_order_items_dataset[olist_order_items_dataset['order_id'] == '00143d0f86d6fbd9f9b38ab440ac16f5']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
32,00143d0f86d6fbd9f9b38ab440ac16f5,1,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.1
33,00143d0f86d6fbd9f9b38ab440ac16f5,2,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.1
34,00143d0f86d6fbd9f9b38ab440ac16f5,3,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.1

In [420]:
olist_order_items_dataset[olist_order_items_dataset['order_id'] == '001ab0a7578dd66cd4b0a71f5b6e1e41']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
42,001ab0a7578dd66cd4b0a71f5b6e1e41,1,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63
43,001ab0a7578dd66cd4b0a71f5b6e1e41,2,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63
44,001ab0a7578dd66cd4b0a71f5b6e1e41,3,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63

In [421]:
olist_order_items_dataset[olist_order_items_dataset['order_id'] == '00526a9d4ebde463baee25f386963ddc']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
137,00526a9d4ebde463baee25f386963ddc,1,0c4a0f8ab44f9acd2d04e7024f9ba362,7210cd29727d674c00741e5e387b3ccd,2018-08-14 22:15:22,33.89,8.4
138,00526a9d4ebde463baee25f386963ddc,2,0c4a0f8ab44f9acd2d04e7024f9ba362,7210cd29727d674c00741e5e387b3ccd,2018-08-14 22:15:22,33.89,8.4
139,00526a9d4ebde463baee25f386963ddc,3,0c4a0f8ab44f9acd2d04e7024f9ba362,7210cd29727d674c00741e5e387b3ccd,2018-08-14 22:15:22,33.89,8.4
140,00526a9d4ebde463baee25f386963ddc,4,0c4a0f8ab44f9acd2d04e7024f9ba362,7210cd29727d674c00741e5e387b3ccd,2018-08-14 22:15:22,33.89,8.4

In [422]:
d = olist_order_items_dataset.groupby(['order_id', 'product_id', 'seller_id','shipping_limit_date','price', 'freight_value'])['order_item_id'].max().reset_index()

In [423]:
d.head()

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_item_id
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,1
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,1
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,1
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,1
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,1

In [424]:
d.shape

(102425, 7)

In [425]:
d['order_id'].nunique()

98666

In [426]:
zz = d.duplicated('order_id',keep='first')
zz.value_counts()

False    98666
True      3759
dtype: int64

In [427]:
d[zz].head()

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_item_id
74,002f98c0f7efd42638ed6100ca699b42,d41dc2f2979f52d75d78714b378d4068,7299e27ed73d2ad986de7f7c77d919fa,2017-08-10 09:30:15,8.99,32.57,1
84,00337fe25a3780b3424d9ad7c5a4b35e,1f9799a175f50c9fa725984775cac5c5,cfb1a033743668a192316f3c6d1d2671,2017-09-29 17:50:16,59.90,9.94,1
137,005d9a5423d47281ac463a968b3936fb,fb7a100ec8c7b34f60cec22b1a9a10e0,d98eec89afa3380e14463da2aabaea72,2017-10-24 12:28:16,49.99,18.12,1
202,00946f674d880be1f188abc10ad7cf46,9bb2d066e4b33b624cbdfec7d50b3dcb,5cf13accae3222c70a9cac40818ae839,2017-12-14 19:30:37,99.90,14.35,2
213,0097f0545a302aafa32782f1734ff71c,b6397895a17ce86decd60b898b459796,7901646fdd36a55f564ffaf2dbccaaf7,2018-03-09 18:30:41,158.00,10.68,1

In [428]:
d[d['order_id'] == '002f98c0f7efd42638ed6100ca699b42']

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_item_id
73,002f98c0f7efd42638ed6100ca699b42,880be32f4db1d9f6e2bec38fb6ac23ab,fa40cc5b934574b62717c68f3d678b6d,2017-08-10 09:30:15,44.90,7.16,2
74,002f98c0f7efd42638ed6100ca699b42,d41dc2f2979f52d75d78714b378d4068,7299e27ed73d2ad986de7f7c77d919fa,2017-08-10 09:30:15,8.99,32.57,1

In [429]:
d['order_id'].value_counts().head()

ca3625898fbd48669d50701aba51cd5f    8
77df84f9195be22a4e9cb72ca9e8b4c2    7
7d8f5bfd5aff648220374a2df62e84d5    7
ad850e69fce9a512ada84086651a2e7d    7
1c11d0f4353b31ac3417fbfa5f0f2a8a    6
Name: order_id, dtype: int64

In [430]:
d[d['order_id'] == 'ca3625898fbd48669d50701aba51cd5f']

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_item_id
80867,ca3625898fbd48669d50701aba51cd5f,0cf2faf9749f53924cea652a09d8e327,0b35c634521043bf4b47e21547b99ab5,2018-08-16 02:25:07,33.9,1.84,2
80868,ca3625898fbd48669d50701aba51cd5f,0de59eddc63167215c972b0d785ffa7b,0b35c634521043bf4b47e21547b99ab5,2018-08-16 02:25:07,159.0,3.67,4
80869,ca3625898fbd48669d50701aba51cd5f,1065e0ebef073787a7bf691924c60eeb,0b35c634521043bf4b47e21547b99ab5,2018-08-16 02:25:07,309.0,1.84,1
80870,ca3625898fbd48669d50701aba51cd5f,21b524c4c060169fa75ccf08c7da4627,0b35c634521043bf4b47e21547b99ab5,2018-08-16 02:25:07,63.7,0.15,8
80871,ca3625898fbd48669d50701aba51cd5f,309dd69eb83cea38c51709d62befe1a4,0b35c634521043bf4b47e21547b99ab5,2018-08-16 02:25:07,56.0,3.68,10
80872,ca3625898fbd48669d50701aba51cd5f,4a5c3967bfd3629fe07ef4d0cc8c3818,0b35c634521043bf4b47e21547b99ab5,2018-08-16 02:25:07,109.9,0.15,6
80873,ca3625898fbd48669d50701aba51cd5f,5dae498eff2d80057f56122235a36aff,888faa8bfb0b159c37de6d898b961c31,2018-08-17 02:25:07,95.9,0.15,5
80874,ca3625898fbd48669d50701aba51cd5f,678c229b41c0e497d35a25a8be1cc631,888faa8bfb0b159c37de6d898b961c31,2018-08-17 02:25:07,95.9,0.15,7

In [431]:
d[d['order_id'] == '1c11d0f4353b31ac3417fbfa5f0f2a8a']

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_item_id
11231,1c11d0f4353b31ac3417fbfa5f0f2a8a,61b6e5d2e3ee58d2b341b8ef1a652b26,c7fdb77fdbff3c41981bc52f787e959e,2018-02-02 11:31:03,56.00,12.77,7
11232,1c11d0f4353b31ac3417fbfa5f0f2a8a,a3a10562c9d134b92f04b8cce298d037,822166ed1e47908f7cfb49946d03c726,2018-02-02 11:31:03,22.49,25.54,5
11233,1c11d0f4353b31ac3417fbfa5f0f2a8a,d3a386ad58b99f0ddcc216ed9efb03c3,609e1a9a6c2539919b8205cf7c4e6ff0,2018-02-02 11:31:03,43.90,12.77,6
11234,1c11d0f4353b31ac3417fbfa5f0f2a8a,d64738c7b2e2d1778a51e835d8f02568,609e1a9a6c2539919b8205cf7c4e6ff0,2018-02-02 11:31:03,43.90,12.77,1
11235,1c11d0f4353b31ac3417fbfa5f0f2a8a,d80fce9f775927c7d602c2de926759f1,747c1cdcd1737dcfbd1547f6eb6f2cf3,2018-02-02 11:31:03,88.00,12.77,3
11236,1c11d0f4353b31ac3417fbfa5f0f2a8a,ddbf57e4559f03c003fc3708d4860c5e,1835b56ce799e6a4dc4eddc053f04066,2018-02-02 11:31:03,29.99,12.77,4

In [432]:
olist_order_items_dataset = d.iloc[:,:].copy()

#### <span style="color:red"> Merge olist_order_items_dataset y olist_items_dataset  </span>

In [433]:
olist_items_dataset = olist_order_items_dataset.merge(olist_items_dataset, how = 'left', on = 'seller_id', validate = 'm:1')

In [434]:
olist_items_dataset.shape

(102425, 12)

In [435]:
olist_items_dataset.head()

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_item_id,seller_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,1,27277,-22.497188,-44.127324,volta redonda,RJ
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,1,3471,-23.565754,-46.519097,sao paulo,SP
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,1,37564,-22.262802,-46.170735,borda da mata,MG
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,1,14403,-20.553651,-47.387145,franca,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,1,87900,-22.929583,-53.135750,loanda,PR

In [436]:
olist_items_dataset.duplicated('order_id',keep='first').value_counts()

False    98666
True      3759
dtype: int64

## olist_products_dataset

In [437]:
olist_products_dataset = pd.read_csv('olist_products_dataset.csv')

In [438]:
olist_products_dataset.shape

(32951, 9)

In [439]:
olist_products_dataset.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [440]:
olist_products_dataset.duplicated(keep='first').value_counts()

False    32951
dtype: int64

In [441]:
olist_products_dataset.duplicated('product_id', keep='first').value_counts()

False    32951
dtype: int64

#### <span style="color:red"> Merge olist_items_dataset y olist_products_dataset </span>

In [442]:
olist_items_dataset = olist_items_dataset.merge(olist_products_dataset, how = 'left', on = 'product_id', validate = 'm:1')

In [443]:
olist_items_dataset.shape

(102425, 20)

In [444]:
olist_items_dataset.head()

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_item_id,seller_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,1,27277,-22.497188,-44.127324,volta redonda,RJ,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,1,3471,-23.565754,-46.519097,sao paulo,SP,pet_shop,56.0,239.0,2.0,30000.0,50.0,30.0,40.0
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,1,37564,-22.262802,-46.170735,borda da mata,MG,moveis_decoracao,59.0,695.0,2.0,3050.0,33.0,13.0,33.0
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,1,14403,-20.553651,-47.387145,franca,SP,perfumaria,42.0,480.0,1.0,200.0,16.0,10.0,15.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,1,87900,-22.929583,-53.135750,loanda,PR,ferramentas_jardim,59.0,409.0,1.0,3750.0,35.0,40.0,30.0

In [445]:
olist_items_dataset.duplicated('order_id',keep='first').value_counts()

False    98666
True      3759
dtype: int64